a {
    text-decoration: none;
}

body {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, Osaka, "ＭＳ Ｐゴシック", MS PGothic, Sans-Serif, verdana;
    line-height: 2;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list a {
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 20px 20px;
    border-right: 1px solid #cccccc;
    color: #333;
}

.header-list a img {
    width: 30%;
    vertical-align: middle;
    padding-right: 10px;
}

.menu-bar {
    background-color: #3d2900;
}

.menu-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list:first-child a {
    background-color: #7a5200;
}

.menu-list a {
    width: 100%;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 15px 20px;
    color: #fff;
}

.menu-list a:hover {
    background-color: #573b00;
    color: #fff
}

.menu-list a span {
    font-size: 8.5px;
    display: block;
    text-align: center;
    padding: 10px 0 0;
    color: #ad8c47;
}

.content {
    margin: 20px auto 0;
}

.seasonal-menu {
    padding-left: 20px;
}

.season-text {
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
    color: #3e2800;
}

.season-text .mod-en {
    display: inline-block;
    font-size: 10px;
    -ms-transform: scale(.85);
    transform: scale(.85);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    letter-spacing: .5px;
    margin-left: 10px;
    color: #ad8c47;
    font-family: Open Sans, sans-serif;
}

.season-items {
    display: flex;
}

.season-item {
    width: calc(100% / 4 - 20px);
    height: auto;
    padding: 20px 0 0 20px;
}

.season-items a {
    display: block;
    width: 100%;
    height: 100%;
}

.season-item-image {
    width: 100%;
}

.season-item-image:hover {
    opacity: 0.6;
    transition: .5s;
}

.season-items a p {
    color: #333;
    text-align: center;
    font-size: 13px
}

.info-title {
    margin: 20px 0;
    padding-left: 20px;
}

.info-text {
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
    color: #3e2800;
}

.info-text .mod-en {
    display: inline-block;
    font-size: 10px;
    -ms-transform: scale(.85);
    transform: scale(.85);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    letter-spacing: .5px;
    margin-left: 10px;
    color: #ad8c47;
    font-family: Open Sans, sans-serif;
}

.infomation {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.news {
    width: 460px;
    height: 315px;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fdf8ec;
}

.news-list {
    padding: 15px 0;
    border-bottom: 1px dotted #9d9076;
}

.news-date {
    font-weight: 700;
    font-size: 12px;
}

.news-content {
    font-size: 14px;
    color: #7a2e00;
    text-decoration: underline;
}


.facebook {
    width: 440px;
    padding-left: 20px;
    display: block;
}

.facebook-inner {
    max-width: 100px;
    max;
    height: 315px;
}

.feature-bar {
    background-color: #f8f6f1;
}

.feature {
    margin-top: 50px;
    padding: 50px 0;
}

.feature-items {
    display: flex;
}

.feature-item {
    width: calc(100% / 6 - 20px);
    height: auto;
    padding: 20px 0 0 20px;
}

.feature-items a p {
    color: #333;
    text-align: center;
    font-size: 13px
}

.sns-list {
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    align-items: center;
}

.sns-text {
    color: #3e2800;
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
}

.sns-list a {
    display: block;
    margin-right: 10px;
}

.sns-list img {
    max-width: 100%;
}

.footer-ul {
    display: flex;
    width: 710px;
    margin: 0 auto;
    margin-top: 70px;
}

.footer-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-li a {
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 0 12px;
    border-right: 1px solid #cccccc;
    color: #333;
}

.footer-li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 241px;
    display: block;
    margin: 40px auto;
}

.footer-logo img {
    max-width: 100%;
    display: block;
}

.footer-copyright {
    text-align: center;
    color: #d7d2c7;
    font-size: 14px;
}

footer {
    padding-bottom: 100px;
}

.jump-box {
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 0.4;
    background: #fff;
}

.jump-box.hide {
    opacity: 0;
}

.jump-box:hover {
    opacity: 0.55;
}

.jump-box p {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #333;
}


/* carousel */
.car-img {
    width: 100%;
}

.owl-stage .owl-item {
    opacity: 0.5;
}

.owl-stage .owl-item.center {
    opacity: 1;
}